<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<% @products.each do |product| %>
<div class="entry">
<%= image_tag product.image.url(:thumb) %>
<h3><%= product.title %></h3>
<%#= sanitize(product.description) %>
<%= truncate(strip_tags(product.description),length: 2000) %>
<div class="price_line">
<span class="price"><%= number_to_currency(product.price, unit: "Руб: ") %></span>
</div>
</div>
<% end %>